.login {
  width: 100%;
  height: 100%;
  // max-width: 1920px;
  // max-height: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  background: url("~@/assets/images/login-bk.png") no-repeat left top / cover;
  overflow: hidden;
  position: relative;

  &-bk {
    position: absolute;
    z-index: 2;
    // top: 295px;
    // left: 428px;
    // right: 428px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1063px;
    height: 491px;
    background: url("~@/assets/images/login1.png") no-repeat left top / cover;

    &-shadow {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 590px;
      right: 132px;
      width: 341px;
      height: 491px;
      background: url("~@/assets/images/shadow.png") no-repeat left top / cover;
      opacity: 0.5;
      border-radius: 4px;
    }
  }

  &-container {
    position: absolute;
    z-index: 3;
    // top: 250px;
    // bottom: 250px;
    // left: 1066px;
    // right: 346px;
    top: calc(50% + 10px);
    left: calc(50% + 360px);
    transform: translate3d(-50%, -50%, 0);
    width: 508px;
    height: 581px;
    box-sizing: border-box;
    padding: 40px;
    background-color: #fff;

    .login-form {
      .el-form-item {
        width: 420px;
        height: 50px;
      }

      .login-btn {
        width: 420px;
        height: 50px;
        margin-bottom: 30px;
      }
    }
  }
}
